<?xml version="1.0" encoding="UTF-8"?>
<CONFIGURATION>          
    <MIDDLEWARE_PARAMETERS>
        <BASE_PATH>/home/trencadis/middleware</BASE_PATH>
        <USERCERT>/home/trencadis/middleware/usercert.pem</USERCERT>
        <USERKEY>/home//trencadis/middleware/userkey.pem</USERKEY>
        <PATH_CATRUSTCERT>/etc/grid-security/certificates</PATH_CATRUSTCERT>
        <TMP_DIR>/home/trencadis/middleware/tmp/</TMP_DIR>    
    </MIDDLEWARE_PARAMETERS>
            
    <VOMS_PARAMETERS>
        <HOST>trencadisv01.i3m.upv.es</HOST>
        <PORT>15000</PORT>
        <HOSTDN>/C=ES/O=UPV-GRyCAP-CA/OU=UPV-I3M/OU=GRyCAP/CN=host/trencadisv01.i3m.upv.es</HOSTDN>
        <VO>TRENCADIS</VO>
        <VOMSES>/home/trencadis/middleware/vomses_trencadis</VOMSES>     
        <VOMSDIR>/home/trencadis/middleware/vomsdir</VOMSDIR>     
    </VOMS_PARAMETERS>
                   
    <INDEX_SERVICE_PARAMETERS>
        <URL_IIS>https://trencadisv04.i3m.upv.es:8443/wsrf/services/DefaultIndexService</URL_IIS>    
        <URL_IIS>https://trencadisv05.i3m.upv.es:8443/wsrf/services/DefaultIndexService</URL_IIS>    
        <URL_IIS>https://trencadisv02.i3m.upv.es:8443/wsrf/services/DefaultIndexService</URL_IIS>    
    </INDEX_SERVICE_PARAMETERS>
    
    
</CONFIGURATION>
